<nav class="navbar navbar-light navbar-expand-md border-bottom bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <span class="fw-bold text-dark">
        Cyber Studio
      </span>
    </a>
    <div class="d-flex flex-row justify-content-center align-items-center">
      <span id="online" class="badge text-bg-success me-4">Online</span>
      <a href="/create" id="btn_create_story" class="btn btn-dark">Create Story</a>
    </div>
  </div>
</nav>
