<nav class="navbar navbar-light fixed-top navbar-expand-md border-bottom bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <span class="fw-bold text-dark">
        Cyber Studio
      </span>
    </a>
    <a href="/create" id="btn_create_story" class="btn btn-dark">Create Story</a>
  </div>
</nav>