<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

      <div class="container">
        <div class="row-10">
          <form class="col-10 mt-10" id="story_form">
            <div class="mb-3 mt-5">
              <label for="title" class="form-label">Title: </label>
              <input type="text" id="title" name="title" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="author" class="form-label">Author</label>
              <input class="form-control" type="text" id="author" name="author" required>
            </div>

            <div class="mb-3">
              <label for="formFile" class="form-label">Select a photo</label>
              <input class="form-control" type="file" id="formFile" name="photo" required>
            </div>

            <div class="mb-3">
              <label for="content" class="form-label">Content</label>
              <input type="text" id="content" name="content" class="form-control">
            </div>

            <div class="mb-3">
              <button id="submit" class="btn btn-success m-2">Submit</button>
              <a class="btn btn-warning m-2" href="/">Cancel</a>
            </div>
          </form>
        </div>
      </div>
      <%- include('./partials/footer.ejs') %>
      <script src="/javascripts/create_story.js"></script>
      <%- include('./partials/scripts.ejs') %>
  </body>

</html>
